In [1]:
from pandas import read_csv
from pandas import set_option

In [6]:
filename = "data.csv".format(id, names=['order_id','user_id','eval_set','order_number','order_dow','order_hour_of_day','days_since_prior_order','add_to_cart_order','reordered','product_id'])
data = read_csv(filename)

In [10]:
print(data.describe().to_html(header=True,border =1))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>order_id</th>
      <th>user_id</th>
      <th>order_number</th>
      <th>order_dow</th>
      <th>order_hour_of_day</th>
      <th>days_since_prior_order</th>
      <th>add_to_cart_order</th>
      <th>reordered</th>
      <th>product_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>9.998700e+04</td>
      <td>99987.000000</td>
      <td>99987.000000</td>
      <td>99987.000000</td>
      <td>99987.000000</td>
      <td>99987.000000</td>
      <td>99987.000000</td>
      <td>99987.000000</td>
      <td>99987.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.686259e+06</td>
      <td>935.043616</td>
      <td>17.749137</td>
      <td>2.758759</td>
      <td>13.490584</td>
      <td>10.174443</td>
      <td>8.469481</td>
      <td>0.584566</td>
      <td>25583.960915</td>
    </tr>
    <tr>
      <th>std</th>
      <td>9.834043e+05</td>
      <td>523.257459</td>
      <td>18.321446</td>
      <td>2.106281</td>
      <td>4.186747</td>
      <td>8.964301</td>
      <td>7.336081</td>
      <td>0.492799</td>
      <td>14120.324467</td>
    </tr>
    <tr>
      <th>min</th>
      <td>2.140000e+02</td>
      <td>3.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>8.486470e+05</td>
      <td>462.000000</td>
      <td>5.000000</td>
      <td>1.000000</td>
      <td>10.000000</td>
      <td>4.000000</td>
      <td>3.000000</td>
      <td>0.000000</td>
      <td>13607.500000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.677961e+06</td>
      <td>964.000000</td>
      <td>11.000000</td>
      <td>3.000000</td>
      <td>13.000000</td>
      <td>7.000000</td>
      <td>6.000000</td>
      <td>1.000000</td>
      <td>25204.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2.539865e+06</td>
      <td>1411.000000</td>
      <td>25.000000</td>
      <td>5.000000</td>
      <td>16.000000</td>
      <td>14.000000</td>
      <td>12.000000</td>
      <td>1.000000</td>
      <td>37973.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>3.420235e+06</td>
      <td>1819.000000</td>
      <td>99.000000</td>
      <td>6.000000</td>
      <td>23.000000</td>
      <td>30.000000</td>
      <td>62.000000</td>
      <td>1.000000</td>
      <td>49683.000000</td>
    </tr>
  </tbody>
</table>